.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Share Tech', sans-serif;
  background-color: #cf7171;
}

textarea, button, .output {
  font-family: 'Share Tech', sans-serif;
  font-size: 22px;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  align-items: flex-start;
  margin-top: calc(50vh - 9em);
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container .error {
  width: 10em;
  margin-top: 1em;
}

.container .input, .container .output {
  height: 10em;
  width: 10em;
  border: 6px solid #999;
  padding: 0.5em;
}

.container button {
  margin: 5em 2em;
  border: 6px solid #999;
  padding: 0.2em 1em;
}